/* .nav-bar{
    display: flex;
    flex-direction: row;
} */

@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Doto:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #FFE5B4;
}

/* -----------------------------------------the hidden Nav bar -----------------------------------------*/
.nav-bar-hide{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    position: sticky;
    top: 0; 
    background-color: #FFE5B4;
    filter: blur(100%);
}
.nav-list-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    align-items: center;
}
.ham-icon{
    display: none;
}

/* -----------------------------------------Show Nav -----------------------------------------*/
.nav-bar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0; 
    background: #FFE5B4;
    margin: 15px 0px 15px 0px;
}


/* -----------------------------------------Nav heading -----------------------------------------*/
.nav-header{
    align-items: center;
}
.nav-bar header h1{
    text-align: center;
    font-size: 48px;
    font-family: Dekko;
    color: #fff;
    text-shadow:  -4px 0px 2px #000;
    border-radius: 60px;
    padding-left: 2.5px;

}

/*----------------------------------------- Nar lists a tag -----------------------------------------*/
.nav-list{
    display: flex;
    justify-content: space-around;
    width: 710px;
    align-items: center;
}

.nav-list-mobile li, .nav-list li{
    list-style: none;
}

.nav-list-mobile li a, .nav-list li a{
    font-size: 32px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

/* -----------------------------------------button----------------------------------------- */
#nav-btn{
    font-size: 32px;
    padding: 10px 15px 10px 15px;
    border-radius: 60px;
    border: 2px solid #000;
    background: #fff;
    margin-right: 2.5px;
}

/* -----------------------------------------Nav icons -----------------------------------------*/
.nav-icon{
    width: 80px;
    height: 80px;    
}

#nav-img{
    background-position: center;
    background-size: cover;
}

/*----------------------------------------- Hover effects -----------------------------------------*/

#nav-btn:hover{
    background: #000;
    color: #fff;
    cursor: pointer;
}
.nav-bar header h1:hover{
    cursor: pointer;
    text-shadow:  4px 0px 2px #000;
}

.nav-list-mobile li a:hover, .nav-list li a:hover{
    border-bottom: 4px solid #000;
}

/* ----------------------------------------------------------------------------------------------------------------- */


/* screens of different sizes */

/* Tablet screen size */
@media(max-width: 1022px) { 


.ham-icon{
    display: contents;
}    

    /* order to -1 */
.nav-btn{

    order: -1;
}
.nav-btn-hide{
    display: none;
}

    /* things to not display */
.nav-list{
    display: none;
}


}
    /* Tablet screen size ends here */


    /* Moblie screen size */
@media(max-width: 430px){

.ham-icon{
    display: contents;
}  

.nav-btn-hide{
    display: contents;
}

.nav-btn{
    display: none;
}

.nav-list-mobile{
    height: 60%;
}

}
    /* Mobile screen size ends here */