/* 


*/

/* ------------------------------------------------------------- flexbox ------------------------------------------*/
.benefits{
  display: flex;
  flex-direction: column;
  margin: 0px 10px 0px 10px;
}

.benefit-slot{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 35px 15px 35px;
  
}

/* --------------------------------------------- illustrations in benefits slots------------------------------------*/

.ben-img{
  width: 600px;
}

/* ------------------------------------------------- icons for benefit slots---------------------------------------- */
#ben-slot-img{
  margin-left: 40%; margin-right: auto;
}

/* ---------------------------------------------- benefits-header h1 and p tags ------------------------------------*/
#ben-h1{
  text-align: center;
  font-size: 68px;
}

#ben-p{
  text-align: center;
  font-size: 42px;
  padding-top: 10px;
}

/* -----------------------------------------------benefits slots h3 and p tags --------------------------------------*/

#ben-h3{
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 56px;
  text-align: center;

}

#ben-slot-p{
  font-size: 32px;
  text-align: center;
}

/* ================================================================================================================= */


/* ------------------------------------------------tablet screen sizes------------------------------------*/

@media(max-width: 1021px){

/* --------------------------------------------- illustrations in benefits slots------------------------------------*/

.ben-img{
  width: 400px;
}

/* ---------------------------------------------- benefits-header h1 and p tags ------------------------------------*/
#ben-h1{
  font-size: 42px;
}
#ben-p{
  font-size: 32px;
}

/* -----------------------------------------------benefits slots h3 and p tags --------------------------------------*/
#ben-h3{
font-size: 42px;
}
#ben-slot-p{
  font-size: 24px;

}

@media(max-width: 753px){
  .ben-img{
    display: none;
  }
}
}
/* ------------------------------------------------Mobile screen sizes------------------------------------*/

@media(max-width: 375px){
  #ben-slot-img{
  margin-left: 35%; margin-right: auto;
  }
  .benefits{
  margin: 0px 0px 0px 0px;
  }
}

@media(max-width: 425px){
  #ben-slot-img{
  margin-left: 41%; margin-right: auto;
}

}

@media(max-width: 553px){
  

/* -----------------------------------------------benefits slots h3 and p tags --------------------------------------*/

#ben-h3{
  font-size: 32px;
}

#ben-slot-p{
  font-size: 24px;
}

#ben-slot-img{
  margin-left: 30%; margin-right: auto;
}

.ben-slot-t{
  padding: 10px;
  background: #F0FFFF;
  border: 1px solid #F0FFFF;
  border-radius: 60px;
}

}
