/* 


*/

/*-------------------------------------------------- flexbox ------------------------------------------  */
.testimonials{
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-evenly;
  background: #fff;
}

.testimonials-slot{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  margin: 20px;
}
/* testi-slots */

.testi-slots{
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 60px;

  border: 2px solid #000;
  box-shadow: 0px 0px 10px gray;
}

/*-------------------------------------------------- logo ------------------------------------------------ */
.testi-slot-logo{
  width: 200px;
  height: 200px;
  background-color: #d3eeea;
  border-radius: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ------------------------------------------------- testimonial header h1 and p-------------------------------------*/
#testi-h1{
  text-align: center;
  font-size: 68px;
}

#testi-p{
  text-align: center;
  font-size: 42px;
  padding-top: 10px;
}

/*  */
#testi-slot-h3{
  font-size: 40px;
  text-align: center;
}

#testi-slot-p{
  font-size: 28px;
  text-align: justify;
  padding: 25px;
}



/* ================================================================================================================= */


/* ------------------------------------------------tablet screen sizes------------------------------------*/

@media(max-width: 940px){
 
/* .testimonials{
  padding: 10px;
} */
.testimonials-slot{
  display: grid;
  grid-template-columns: repeat(3, 250px);

  justify-content: space-evenly;
  gap: 5px;
  margin: 0px;
}

/* ------------------------------------------------- testimonial header h1 and p-------------------------------------*/
#testi-h1{
  text-align: center;
  font-size: 42px;
}

#testi-p{
  font-size: 32px;
}

/*  */
#testi-slot-h3{
  font-size: 32px;
}

#testi-slot-p{
  font-size: 18px;
}

.testi-slot-logo{
  width: 100px;
  height: 100px;
}

}

@media(max-width: 764px){
  
.testimonials-slot{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  margin: 10px;
}


}